doctype html
html
    head
        title Labo4 de Alan et Calvin
    body
        ul
            each dicton in dictons
                li
                    a(href='/' + dicton.id) Dicton #{dicton.id}
